.validate-settings {
  .ant-btn {
    &:last-child {
      margin-left: 20px;
    }
  }
}


.validate-settings-add-modal {
  .ant-select-selection--single .ant-select-selection__rendered {
    height: 32px;
  }

  .ant-form-item > label {
    &:after {
      content: ":";
    }
  }
  &.edit {
    .ant-select-disabled {
      .ant-select-selection--single .ant-select-selection__rendered {
        background: #fff;
        color: #666;
      }
      .ant-select-selection {
        border: none;
      }
      .ant-select-arrow {
        display: none;
      }
    }

  }
  ::-webkit-input-placeholder { color: #666;}
}
